body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.top {
    height: 30px;
    background-color: #333; 
    color: #fff;
}
.topint {
    width: 100%;
    max-width: 1040px;
    height: 30px;
    margin: auto;
}
.topleft{
    width: 50%;
    height: 30px;
    float: left;
}
.topright{
    width: 50%;
    height: 28px;
    float: right;
    text-align: right;
    margin-top: 2px;
}
.topleft ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.topleft li {
    float: left;
    height: 30px;
    line-height: 30px;
    margin-left: 8px;
    margin-right: 8px;
}
.topleft li a {
    text-decoration: none;
    color: #fff;
}
.topleft li .active {
    color: #ff0;
}
.topsearch {
    width: 110px;
    height: 21px;
    outline: 0;  
}
.topright a{
    float: right;
}
.topright input {
    float: right;
}
.topright img {
    margin-right: 5px;
}
.top2 {
    height: 95px;
    color: #333;
    background-color: #999;
}
.top2int {
    width: 100%;
    max-width: 1040px;
    height: 95px;
    margin: auto;
}
.logo {
    width: 230px;
    height: 81px;
    float: left;
    margin-top: 14px;
}
.top2 .banner {
    width: 650px;
    height: 80px;
    float: right;
    margin-top: 7px;
    background-color: #f00;
}
.menu {
    height: 40px;
    background-color: #f00;
}
.menuint {
    width: 100%;
    max-width: 1040px;
    height: 40px;
    margin: auto;
}
.menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.menu li {
    float: left;
    height: 40px;
    line-height: 40px;
    padding-left: 8px;
    padding-right: 8px;
}
.menu li:hover .submenu{
    display: block;
}
.menu a {
    color:#fff;
    text-decoration: none;
}
.submenu {
    width: 150px;
    background-color: #f00;
    position: absolute;
    display: none;
}
.submenuitem {
    width: 140px;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
}
.submenuitem:hover {
    background-color: #f55;
}
.latestnews {
    height: 50px;
}
.latestnewsint {
    width: 100%;
    max-width: 1040px;
    height: 50px;
    margin: auto;
}
.latestnewsarea {
    height: 28px;
    background-color: #fff;
    border: 1px solid #ccc;
    margin-top: 10px;
}
.latestnewstitle {
    background-color: #f00;
    color: #fff;
    height: 28px;
    line-height: 28px;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
}
.latestnewscontent {
    color: #000;
    height: 28px;
    line-height: 28px;
    display: inline-block;
    padding-left: 7px;
}
.containerint {
    width: 100%;
    max-width: 1040px;
    margin: auto;
    background-color: #999;
}
.leftside {
    width: 753px;
    float: left;
}
.rightside {
    width: 275px;
    min-height: 300px;
    float: right;
    margin-left: 12px;
}
.widget {
    border: 1px solid #ccc;
    background-color: #fff;
    margin-bottom: 10px;
}
.widget_title {
    height: 30px;
    line-height: 30px;
    background-color: #ddd;
    border-bottom: 1px solid #ccc;
    padding-left: 5px;
    font-size: 14px;
}
.widget_content {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
.news_item {
    font-size: 14px;
    margin: 0px 10px;
    padding: 10px 0px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}
.news_item a {
    text-decoration: none;
    color: #000;
}
.slideshow {
	height:335px;
	background-color:#CCC;
	overflow:hidden;
	margin-bottom:20px;
}
.slideshowarea {
	width:100000px;
	height:335px;
	background-color:#DDD;
	transition:all 2s;
}
.slide {
	height:335px;
	float:left;
	background-repeat: no-repeat;
	background-position: center;
	background-size:cover;
}
.slideinfo {
	height:70px;
	background-image:url('../images/slideshow_bg.png');
	background-size: auto 70px;
	margin-top:265px;
}
.slideinfo_title {
	font-size:20px;
	color:#FFF;
	padding-top:15px;
	padding-left: 20px;
}
.slideinfo_subtitle {
	font-size:13px;
	color:#FFF;
	padding-left: 20px;
}
.slidedot {
	position: absolute;
	width:200px;
	height:20px;
}
.dot {
	width:20px;
	height:20px;
	float:left;
	margin-right:5px;
	cursor:pointer;
	background-color:#CCC;
	border-radius:10px;
}