body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.top {
    height: 30px;
    background-color: #333; 
    color: #fff;
}
.topint {
    width: 100%;
    max-width: 1040px;
    height: 30px;
    margin: auto;
}
.topleft{
    width: 50%;
    height: 30px;
    float: left;
}
.topright{
    width: 50%;
    height: 28px;
    float: right;
    text-align: right;
    margin-top: 2px;
}
.topleft ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.topleft li {
    float: left;
    height: 30px;
    line-height: 30px;
    margin-left: 8px;
    margin-right: 8px;
}
.topleft li a {
    text-decoration: none;
    color: #fff;
}
.topleft li .active {
    color: #00f;
}
.topsearch {
    width: 110px;
    height: 21px;
    outline: 0;  
}
.topright a{
    float: right;
}
.topright input {
    float: right;
}
.topright img {
    margin-right: 5px;
}
.top2 {
    height: 95px;
    color: #333;
    background-color: #999;
}
.top2int {
    width: 100%;
    max-width: 1040px;
    height: 95px;
    margin: auto;
}
.logo {
    width: 230px;
    height: 81px;
    float: left;
    margin-top: 14px;
}
.top2 .banner {
    width: 650px;
    height: 80px;
    float: right;
    margin-top: 7px;
    background-color: #f00;
}
.menu {
    height: 40px;
    background-color: #f00;
}
.menuint {
    width: 100%;
    max-width: 1040px;
    height: 40px;
    margin: auto;
}
.menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.menu li {
    float: left;
    height: 40px;
    line-height: 40px;
    padding-left: 8px;
    padding-right: 8px;
}
.menu li:hover .submenu{
    display: block;
}
.menu a {
    color:#fff;
    text-decoration: none;
}
.submenu {
    width: 150px;
    height: 150px;
    background-color: #f00;
    position: absolute;
    display: none;
}
.submenuitem {
    width: 140px;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
}
.submenuitem:hover {
    background-color: #f55;
}
.latestnews {
    height: 40px;
}
.latestnewsint {
    width: 100%;
    max-width: 1040px;
    height: 40px;
    margin: auto;
}
.latestnewsarea {
    height: 28px;
    background-color: #fff;
    border: 1px solid #ccc;
    margin-top: 10px;
}
.latestnewstitle {
    background-color: #f00;
    color: #fff;
    height: 28px;
    line-height: 28px;
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 16px;
}
.latestnewscontent {
    color: #000;
    height: 28px;
    line-height: 28px;
    display: inline-block;
    padding-left: 7 px;
}
.containerint {
    width: 100%;
    max-width: 1040px;
    margin: auto;
}
.leftside {
    width: 70%;
    max-width: 1040px;
    min-height: 300px;
    float: left;
    background-color: #999;
}
.rightside {
    width: 28%;
    max-width: 1040px;
    min-height: 300px;
    float: right;
    background-color: #799;
}





























